body {
    background-image: url('./фон\ для\ сайта\ в\ темних\ колорах\ з\ квадратами\,\ які\ заповнюють\ весь\ екран\ \(1\).png'); /* Замініть на ваш правильний шлях */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.card {
    width: 250px;
    padding: 20px;
    background-color: rgba(132, 0, 255, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.btn {
    background-color: #8037bd;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn:hover {
    background-color: #8037bd;
}

.card2 {
    width: 250px;
    padding: 20px;
    background-color: rgba(255, 166, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card2 img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.btn2 {
    background-color: #ffc400;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn2:hover {
    background-color: #ffc400;
}

.card3 {
    width: 250px;
    padding: 20px;
    background-color: rgba(2, 129, 13, 0.8);
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card3 img {
    width: 100%;
    border-radius: 4px;
    margin-bottom: 10px;
}

.btn3 {
    background-color: #199400;
    color: rgb(0, 0, 0);
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn3:hover {
    background-color: #199400;
}
@media (max-width: 768px) {
    .container {
        flex-direction: column;
        align-items: center;
    }
}


